appdirs==1.4.0
asgiref==1.0.0
autobahn==0.16.1
channels==0.17.3
constantly==15.1.0
daphne==0.15.0
Django==1.10.3
gunicorn==19.6.0
incremental==16.10.1
packaging==16.8
pbr==1.10.0
Pillow==3.4.2
psycopg2==2.6.2
pyparsing==2.1.10
pyxdg==0.25
requests==2.12.3
six==1.10.0
stevedore==1.19.1
Twisted==16.5.0
txaio==2.5.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
whitenoise==3.2.3
zope.interface==4.3.2
dj-database-url==0.4.1
asgi-redis==1.0.0